[[source]]
url = "https://mirror.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent = "*"
numpy = "*"
opentelemetry-distro = "*"
opentelemetry-exporter-otlp-proto-http = "*"
opentelemetry-instrumentation-flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
